<!DOCTYPE html>
<html>
  <head>
    <title>Creative Requirement</title>
  </head>
  <body>
    <ng-include src="'views/componentes/header.html'"></ng-include>
    <div class="container">
        <div class="center">
          <h1>ACESSO NEGADO</h1>
          <i class="large material-icons">lock</i>
        </div>
        <div class="">
            <a class="waves-effect green waves-light btn-large btn-flat right"><i class="material-icons right">restore</i>Voltar</a>
        </div>
      </div>

  </body>
</html>
