<div class="cabecalhoDiscussao">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">

        <ul class="blue-grey darken-1">
          <li class="">
            <div class="chip right">
              <img class="green-text" ng-src="pictures/default_user.jpg" alt="Facilitador">
                <span class="card-title right"><h6>Moderador : {{brainstorming.moderador.nome}}</h6></span>
              </img>
            </div>
              <span class="card-title ">Nome da Técnica : <b><i class="white-text" ng-bind="brainstorming.nome"></i></b></span>
          </li>
          <li class="">
            <span class="card-title" ng-show="numIdeias" >Quantidade de ideias : <b class="green-text"ng-bind="numIdeias"></b> </span>
          </li>
          <li class="">
            <span class="card-title ">Gatilho da Técnica : <b><i class="white-text" ng-bind="brainstorming.gatilho"></i></b></span>
          </li>
        </ul>
        <!-- <div class="row">
            <a  type="button" class="waves-effect waves-light btn-floating  blue right" ng-click="openModal()">
              <i class="material-icons">description</i>
            </a>
          <span class="card-title text-blue-lighten-5">Discussão {{discussao.nome}}</span>
        </div>
        <div class="row">
          <span class="card-title" ><h6>Nome da Técnica</h6>
            <i class="" ng-bind="brainstorming.nome"></i>
        </span>
      </div>
        <div class="row">
          <span class="card-title"><h6>Quantidade de ideias</h6> <b class="green-text"ng-bind="numIdeias"></b> </span>
          <span class="card-title right"><h6>Moderador</h6></span>
          <div class="chip right"><img class=" text-write" ng-src="pictures/default_user.jpg" alt="Facilitador" ng-bind="discussao.autor.nome"></img></div>
        </div> -->
      </div>
    </div>
</div>
